%h1 Users

%table.table
  %thead.thead-dark
    %tr
      %th(scope='col') ID
      %th(scope='col') Username
      %th(scope='col') First Name
      %th(scope='col') Last Name
      %th(scope='col')
  %tbody
    - @users.each do |user|
      %tr
        %th(scope='row')= "#{user.id}"
        %td= link_to "#{user.username}", edit_user_path(user), :target => '_blank'
        %td= user.firstname
        %td= user.lastname
        %td
          = link_to user, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.fa.fa-trash.fa-lg
%br
= link_to 'New User', new_user_path
