= form_with(model: [:admin, user] ,local: true) do |form|
  = form.label :username
  = form.text_field :username
  = form.label :firstname
  = form.text_field :firstname
  = form.label :lastname
  = form.text_field :lastname
  = form.label :password
  = form.password_field :password

  .actions
    = form.submit
