= form_for user, url: { action: 'update' }  do |form|
  = form.text_field :id
  = form.text_field :username
  = form.text_field :firstname
  = form.text_field :lastname
  = form.text_field :contact_number
  = form.text_field :email_address