%h1 Users

%table.table
  %thead.thead-dark
    %tr
      %th(scope='col') ID
      %th(scope='col') Username
      %th(scope='col') First Name
      %th(scope='col') Last Name
      %th(scope='col')
  %tbody
    - @users.each do |user|
      %tr
        %th(scope='row')= "#{user.id}"
        %td= link_to "#{user.username}", admin_user_path(id: user.id), :target => '_blank'
        %td= user.firstname
        %td= user.lastname
        %td
          = link_to admin_user_path(id: user.id), method: :delete, data: { confirm: 'Are you sure?' } do
            %i.fa.fa-trash.fa-lg
            Delete?

%br
%div(data-behavior='user_form')
  %user_form

= link_to new_admin_user_path do
  %i.fa.fa-plus.fa-lg
  Add a new User
