= @user.username
= @user.firstname
= @user.lastname

= link_to edit_user_path(@user) do
  %i.fa.fa-edit.fa-lg
= link_to users_path do
  %i.fa.fa-arrow-circle-left.fa-lg
  Back

- if current_user
  = link_to 'Logout', logout_path
