/ Navigation
%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2
    - if admin_user?
      %admin_navbar(current-page="#{request.path}")
    
    - elsif @current_user.present?
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to 'My Profile', client_user_path, class: 'nav-link'
    - else
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to 'Sign Up', user_signup_path, class: 'nav-link'
  .mx-auto.order-0
    = link_to  "#{@current_site ? @current_site.name : nil}", root_path, class: 'brand-text navbar-brand mx-auto'
  .navbar-collapse.collapse.w-100.order-3.dual-collapse2
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %login_form(current-user="#{admin_user? ? @current_user.username : nil}")