<!DOCTYPE html>
<html>
  <head>
    <title>MyClinic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" data-behavior="vue">
      <%= yield %>

      <app :message="<%= "2testing".to_json %>"></app>
      <form></form>
    </div>
  </body>
</html>
