!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyClinic
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container{"data-behavior" => "vue"}
      - if notice
        %p#notice.alert.alert-success(role='alert')= notice
      - if alert
        %p#alert.alert.alert-danger(role='alert')= alert

      = yield
      %app{":message" => "#{"2testing".to_json}"}
      %form
